html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 12rem;
  background-color: #2c9ab6;
  color: white;
  padding-top: 3rem;
  padding-left: 6rem;
}
header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
header h2 {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
nav {
  height: 3rem;
  background-color: #f2f2f2;
  padding-top: 1rem;
}
nav ul {
  display: inline;
  padding-left: 6rem;
}
nav li {
  display: inline-block;
  padding-left: 2rem;
  padding-right: 2rem;
  border-right: 2px solid gray;

}
li:last-of-type {
  border-right: 0;
}
.main-body {
  padding-left: 6rem;
  display: inline-block;
  width: 45%;
  color: black;
}
.main-body h2 {
  text-transform: uppercase;
}
.main-body h3 {
  color: steelblue;
}
.main-body aside {
  color: steelblue;
  font-size: 1.5rem;
}
.right-sidebar {
  display: inline-block;
  width: 35%;
  float:right;
  padding-right: 6rem;
}
.right-sidebar h4 {
  text-transform: uppercase;
}
.main-body a:link {
  color: steelblue;
}
.right-sidebar a:link {
  color: steelblue;
}
footer {
  clear: both;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #404040;
  color: white;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
footer img {
  display: block;
  margin: auto;
}
footer ul {
  display: inline;
}
footer li {
  display: inline;
  margin: auto;
  padding: 0 2rem 0;
  border-right: 2px solid white;
}
